.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-field{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-field{
    width: 15rem;
    height: 2rem;
}

.btn{
    margin-top: 1rem;
    padding: 0.6rem 3rem;
}

table, th, td {
    border:1px solid black;
    margin: 2rem auto;
}
th, td{
    padding: 0.6rem 5rem;
} 